<%- include("_header") %>
<body>
    
    <div class="table-responsive-sm">

    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>
                    <a class="btn btn-sm btn-success" href="/product/create">Create</a>
                </th>
            </th>
        </thead>

        <tbody>

            <% for(let i = 0; i < products.length; i ++) {  %>
            <tr>
                <th><%= products[i].id %></th>
                <th><%= products[i].name %></th>
                <th><%= products[i].price %></th>
                <th>
                    <a class="btn btn-sm btn-warning" href="/product/edit/<%=products[i].id %>">Edit</a>
                    <a class="btn btn-sm btn-danger" href="/product/delete/<%=products[i].id %>">Delete</a>
                </th>
            </th>
            <%} %>
        </tbody>
    </table>


</body>
<%- include("_footer") %>
